body {
    background: lightgrey;
}

.viewer {
    width: 900px;
    height: 500px;
    position: relative;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -250px;
    margin-left: -460px;
    display: flex;
    flex-direction: row;
}

#photo {
    width: 800px;
}

#leftarrow, #rightarrow {
    padding: 20px;
    background: whitesmoke;
    cursor: pointer;
}

#rightarrow {
    transform: rotate(0.5turn);
}

.title {
    height: 120px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    margin-left: 57px;
    padding-left: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
    width: 780px;    
}

.viewer .title {
    position: absolute;
    left: 0;
    right: 0;
    top: 74%;
}

p {
    margin-top: -12px;
    
}

#thumbnails { 
    position: relative;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 300px;
    margin-left: -320px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: space-between;
}

.box {
    /* position: absolute; */
    width: 70px;
    height: 70px;
    margin: 5px;
    background: lime;
}



